<IfModule mod_rewrite.c>
  RewriteEngine On 
  RewriteBase /profile 
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f 
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l 
  RewriteRule . /profile/index.html [L]
</IfModule>
